{% extends 'mail.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <form method="post" action="{% url 'send_new' %}">
    {% csrf_token %}
    <div class="letter col s10 offset-s1">
    <div class="row">
    <div class="col s10 offset-s1">
        <div class="input-field">
            <i class="material-icons prefix">mail</i>
            {% if to %}
            <input type="email" class="validate" name="to" value="{{ to }}@pymail.com" multiple>
            {% else %}
            <input type="email" class="validate" name="to" multiple>
            {% endif %}
            <label for="email">Receivers</label>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">subject</i>
            {% if subject %}
                <input id="subject" type="text" name="subject" value="RE:[{{ subject }}]" class="validate">
            {% else %}
                <input id="subject" type="text" name="subject" class="validate">
            {% endif %}
            <label for="subject">Subject</label>
        </div>
    </div>
        <div class="col s9 offset-s2">
        <div class="input-field">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" name="text" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Message</label>
        </div>
            <div class="right-align">
             <a href="#!" onclick="$(this).closest('form').submit()" class="btn-floating btn-large green accent-3">
                 <i class="large material-icons">send</i>
             </a>
         </div>
        </div>
    </div>
    </div>
    </form>
{% endblock %}