{% extends 'mail.html' %}
{% load filters %}

{% block content %}
    <div class="row">
<div class="pagination pymail">
    <span class="step-links">
    {% if messages %}
        {% if messages.has_previous %}
            <a href="?page={{ messages.previous_page_number }}"><i class="material-icons green-text text-accent-3">chevron_left</i></a>
            {% else %}
            <a class="disabled"><i class="material-icons grey-text">chevron_left</i></a>
        {% endif %}
        <span class="current green-text text-accent-4">
            {{ messages.number }} of {{ messages.paginator.num_pages }}.
        </span>
        {% if messages.has_next %}
            <a href="?page={{ messages.next_page_number }}"><i class="material-icons green-text text-accent-3">chevron_right</i></a>
            {% else %}
            <a class="disabled"><i class="material-icons grey-text">chevron_right</i></a>
        {% endif %}
        {% else %}
        <p class="green-text text-accent-4">There are no results for your request.</p>
    {% endif %}
    {% if amount != 0 %}
    <p class="green-text text-accent-4">There are {{ amount }} matching messages</p>
    {% endif %}
    </span>
</div>
    </div>
    <div class="row">
    <div class="collection letters">
        {% for m in messages %}
            {% if m.read %}
            <a href="/{{ category }}/{{ m|private:"_id"}}" class="collection-item green-text text-accent-4 N/A transparent letter">
            {% else %}
            <a href="/{{ category }}/{{ m|private:"_id"}}" class="collection-item green-text text-accent-4 N/A transparent new-letter">
            {% endif %}
                {% if m.type == 'inbox' %}
                    <b> From: </b>
                    {{ m.from }}@pymail.com
                {% elif m.type == 'sent' %}
                    <b> To: </b>
                     {% for i in m.to %}
                         {{ i }}@pymail.com &nbsp
                     {% endfor %}
                {% endif %}<b>&nbsp &nbsp Subject: </b>{{ m.subject }}  <span class="check-date">{{ m.date }}</span></a>
        {% endfor %}
        </div>
    </div>
{% endblock %}